In [1]:
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import random
from sklearn.linear_model import LinearRegression
from scipy.stats import t

- Suppose we have rooms we have a dataset that shows the number of bedrooms and the selling price for 20 houses in a particular neighborhood

In [2]:
Bedrooms = [1,1,1,2,2,2,2,3,3,3,3,3,3,3,4,4,4,5,5,6]
Prices = [120,133,139,185,148,160,192,205,244,213,236,280,275,273,312,311,304,415,396,488]

-Using the Bedrooms data points:

In [3]:
df = pd.DataFrame({'Bedrooms':Bedrooms,'Prices':Prices}) #different way, same result

#df['Bedrooms'] =Bedrooms 
#df['Prices'] = Prices
#df

 - Extract a random sample of size 10

In [4]:
sample = random.sample(Bedrooms,10)
sample

[4, 3, 5, 4, 3, 3, 1, 2, 5, 6]

- Compute the mean and standard deviation of the sample

In [99]:
mean_sample = round(np.mean(sample),4)
std_sample = round(np.std(sample),4)
print(f"mean :{mean_sample}")
print(f"std :{std_sample}")

mean :246.5714
std :28.2785

- Compute the the mean of the population

In [6]:
pop_mean = np.mean(Bedrooms)
pop_mean

3.0

- Computer the confidence interval of 95% using the sample
- Check if the population mean lies between the upper and lower bounds of the interval

In [7]:
UCI = mean_sample + 1.95*(std_sample/np.sqrt(len(sample)))
LCI = mean_sample - 1.95*(std_sample/np.sqrt(len(sample)))
print(f" UCI:{UCI}, LCI:{LCI}, pop_mean:{pop_mean}")

 UCI:4.480744003669625, LCI:2.7192559963303755, pop_mean:3.0

#### Exercise #3
- Using both of the Bedrooms and the Prices:

In [23]:
covariance = round(df.cov(),4)
#sns.heatmap(covariance, annot=True,cmap='Blues')
covariance

          Bedrooms      Prices
Bedrooms    1.8947    133.8947
Prices    133.8947  10016.1553

In [24]:
correlation = round(df.corr(),4)
#sns.heatmap(correlation, cmap='Greens', annot=True)
correlation

          Bedrooms  Prices
Bedrooms    1.0000  0.9719
Prices      0.9719  1.0000

#### - Build a regression model and estimate the regression parameters (slope and intercept).

In [29]:
Bed_array = np.array(Bedrooms).reshape((-1,1))
Price_array = np.array(Prices)

model = LinearRegression().fit(Bed_array,Price_array)

intercept = round(model.intercept_,4)
slope = round(model.coef_[0],4)
print(f"Intercept:{intercept} and Slope:{slope}")

Intercept:39.45 and Slope:70.6667

In [48]:
y_hat = model.predict(Bed_array).round(4)
y_hat,Price_array

(array([110.1167, 110.1167, 110.1167, 180.7833, 180.7833, 180.7833,
        180.7833, 251.45  , 251.45  , 251.45  , 251.45  , 251.45  ,
        251.45  , 251.45  , 322.1167, 322.1167, 322.1167, 392.7833,
        392.7833, 463.45  ]),
 array([120, 133, 139, 185, 148, 160, 192, 205, 244, 213, 236, 280, 275,
        273, 312, 311, 304, 415, 396, 488]))

#### Predict the house price for a house with 7 rooms

In [66]:
value = 7 
y_pred = model.predict(np.array([[value]])).round(4)
y_pred[0]

534.1167

#### Estimate the upper bound and the lower bounds of the prediction interval of a house with 7 rooms

In [59]:
alpha = 0.1
N = 20
Df= N-2


#residual_error = (np.sqrt(np.square(Price_array-y_hat).sum()/Df))*(1+(1/N)+((np.square(value-pop_mean)))/np.square(Bedrooms-pop_mean).sum())
residual_error = (np.sqrt(np.square(Price_array-y_hat).sum()/Df))
residual_error*=(1+(1/N)+((np.square(value-pop_mean)))/np.square(Bedrooms-pop_mean).sum())
residual_error.round(4)

36.1474

In [64]:
t_value = t.ppf(1-alpha/2, df=N-2).round(4)
t_value

1.7341

In [68]:
LP = round(y_pred[0] - t_value*residual_error, 4)
UP = round(y_pred[0] + t_value*residual_error, 4)
print(f"Thre prediction {y_pred[0]} lies between {LP} and {UP} values with 95% confidence.")

Thre prediction 534.1167 lies between 471.4335 and 596.7999 values with 95% confidence.

#### Using as sample of houses that have only 3 bedrooms 
 - find the lower price that can be payed for a house with 3 rooms using Tolerance interval
 - find the highest price that can be payed for a house with 3 rooms using Tolerance interval

In [106]:
df2=df[df['Bedrooms']==3]
#print(df2['Prices'])


sample2 = df2['Prices']
S2mean= np.mean(sample2).round(4)
S2std = round(np.std(sample2),4)


print(f" Sample2 mean is {S2mean} and standard deviartion is {S2std}")

 Sample2 mean is 246.5714 and standard deviartion is 28.2785

In [114]:
n = len(sample2)

k2= 2.5031

lower_limit = (S2mean - k2*S2std).round(4)
upper_limit = (S2mean + k2*S2std).round(4)
print(f"Sample 2 lenght is {n} and its lower/upper limits  are {lower_limit} / {upper_limit}")

Sample 2 lenght is 7 and its lower/upper limits  are 175.7875 / 317.3553